################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KioChess/.vs/KioChess/FileContentIndex/e5b36fbb-9211-4625-97cf-478a8db71198.vsidx
/KioChess/.vs/KioChess/FileContentIndex/dc928ed6-27c6-4208-99d0-86843b1d7150.vsidx
/KioChess/.vs/KioChess/FileContentIndex/b3548a22-dbb8-4eca-b0a9-51a4075233a5.vsidx
/KioChess/.vs/KioChess/FileContentIndex/949d959d-2fbc-4da1-b638-8076f19319fe.vsidx
