################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KioChess/.vs/
/KioChess/Application/obj/
/KioChess/Engine/obj/
/KioChess/.vs/KioChess/FileContentIndex/e5b36fbb-9211-4625-97cf-478a8db71198.vsidx
/KioChess/.vs/KioChess/FileContentIndex/dc928ed6-27c6-4208-99d0-86843b1d7150.vsidx
/KioChess/.vs/KioChess/FileContentIndex/b3548a22-dbb8-4eca-b0a9-51a4075233a5.vsidx
/KioChess/.vs/KioChess/FileContentIndex/949d959d-2fbc-4da1-b638-8076f19319fe.vsidx
/KioChess/.vs/KioChess/FileContentIndex/81c7362e-562c-45c3-8041-28a1245fddc7.vsidx
/KioChess/.vs/KioChess/FileContentIndex/5f5c4ad1-41ec-45da-9ce0-bf4f64dad80d.vsidx
/KioChess/.vs/KioChess/FileContentIndex/3de0867b-f074-4d52-80e4-8fe2be60da62.vsidx
/KioChess/.vs/KioChess/FileContentIndex/22961125-bb3a-47d2-a521-f26d8734b474.vsidx
