################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KioChess/.vs/
/KioChess/Application/obj/
/KioChess/Engine/obj/
